body {
  margin: 0;
  font-family: "Lato", system-ui;
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 900px;
  padding: 0px 15px;
  margin: 0 auto;
}

.scrollHidden {
  overflow-y: hidden;
}

.home {
  width: 100%;
  height: 100vh;
  background: url("../img/background.jpg") center no-repeat;
  background-size: cover;
}
.home .lab {
  display: flex;
  justify-content: center;
}
.home .lab__blocktitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.home .lab__logo {
  display: block;
  max-width: 100%;
  width: 10%;
  height: auto;
  margin-bottom: 70px;
}
.home .lab__title {
  color: #fff;
  font-weight: 600;
  font-size: 54px;
  text-transform: uppercase;
  word-spacing: 30px;
  margin: 0;
  text-align: center;
}
.home .lab__undertitle {
  font-size: 15px;
  font-weight: 400;
  word-spacing: 3px;
  margin-bottom: 15px;
}
.home .margin {
  margin-bottom: 50px;
}
.home .correct__img {
  width: 5%;
  margin-top: 150px;
  transition: 1s;
}
.home .activeTop {
  margin-top: 100px;
}
.home .activeBottom {
  margin-top: 150px;
}
@media (max-width: 690px) {
  .home .lab__title {
    font-size: 30px;
  }
  .home .lab__undertitle {
    font-size: 15px;
  }
  .home .about__text {
    padding: 0;
  }
  .home .lab__logo {
    margin-bottom: 100px;
  }
  .home .correct__img {
    width: 7%;
  }
}

@media (max-width: 690px) {
  .home {
    display: flex;
    height: 800px;
    overflow: hidden;
  }
}
.about__block {
  position: relative;
}
.about__block .the__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: 600;
  font-size: 37px;
  text-transform: uppercase;
  word-spacing: 30px;
  margin: 0;
  text-align: center;
  background: #fff;
  width: 400px;
}
.about__block .about__text {
  font-size: 16px;
  padding: 50px 180px;
  text-align: center;
  border: 2px solid #000;
  line-height: 1.5;
  margin: 160px 0px;
  border-radius: 100px;
  transition: 0.5s;
}
.about__block .activeBorder {
  border-radius: 0;
  border-color: #0016c5;
}
@media (max-width: 690px) {
  .about__block .the__title {
    font-size: 25px;
    width: 200px;
  }
  .about__block .about__text {
    padding: 50px 50px;
  }
}

.services {
  width: 100%;
  background: url("../img/nextback.jpg") center;
  background-size: cover;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}
.services .services__block {
  position: relative;
  margin: 60px 0px;
}
.services .services__block .services__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
  font-size: 37px;
  text-transform: uppercase;
  word-spacing: 30px;
  margin: 0;
  text-align: center;
  width: 400px;
}
.services .services__block .services__text {
  position: relative;
  font-size: 16px;
  padding: 50px 180px;
  text-align: center;
  line-height: 1.5;
  color: #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-radius: 0px 0px 150px 150px;
  transition: 0.5s;
}
.services .services__block .activeBorder {
  border-radius: 0;
}
.services .services__block .services__text::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0%;
  width: 30%;
  border-bottom: 2px solid #fff;
}
.services .services__block .services__text::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0%;
  width: 30%;
  border-bottom: 2px solid #fff;
}
@media (max-width: 690px) {
  .services .services__block .services__text {
    padding: 50px 50px;
  }
  .services .services__block .services__title {
    font-size: 25px;
  }
}

@media (max-width: 690px) {
  .services {
    overflow: hidden;
  }
}
.what {
  position: relative;
  width: 100%;
  border: 2px solid;
  margin-bottom: 160px;
  margin-top: 160px;
  border-radius: 100px;
  transition: 0.5s;
}
.what .what__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: 600;
  font-size: 37px;
  text-transform: uppercase;
  word-spacing: 30px;
  margin: 0;
  text-align: center;
  background: #fff;
  width: 400px;
}
.what .what__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0px;
}
.what .what__content .what__title__little {
  color: #000;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  margin: 15px 0px;
}
.what .what__text {
  font-size: 16px;
  padding: 0px 180px;
  text-align: center;
  line-height: 1.5;
}
@media (max-width: 690px) {
  .what .what__text {
    padding: 0px 50px;
  }
  .what .what__title {
    font-size: 25px;
    width: 300px;
  }
}

.activeBorderTop {
  border-radius: 0px 0px 100px 100px;
  border-color: #0016c5;
}

.activeBorderBottom {
  border-radius: 0;
}

.photoGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 200px;
}
.photoGroup .photo__block {
  display: flex;
}
.photoGroup .photo__main__block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
}
.photoGroup .photo__main__block .group__title {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  transition: 0.8s;
}
.photoGroup .photo__main__block .size {
  font-size: 35px;
  font-weight: 900;
  top: 50%;
  transform: translate(-50%, -50%);
}
.photoGroup .photo__main__block .group__img {
  display: flex;
  height: auto;
  width: 100%;
}
.photoGroup .removeMargin {
  margin-left: 0;
}
.photoGroup .removeMargins {
  margin-right: 0;
}
@media (max-width: 690px) {
  .photoGroup .photo__block {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .photoGroup .photo__main__block {
    margin: 3px 0px;
  }
}

.contactus__block {
  position: relative;
}
.contactus__block .contactus__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: 600;
  font-size: 37px;
  text-transform: uppercase;
  word-spacing: 30px;
  margin: 0;
  text-align: center;
  background: #fff;
  width: 400px;
}
.contactus__block .contactus__text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
  padding: 50px 180px;
  text-align: center;
  border: 2px solid #000;
  line-height: 1.5;
  margin: 160px 0px;
  border-radius: 100px;
  transition: 0.5s;
}
.contactus__block .activeBorder {
  border-radius: 0;
  border-color: #0016c5;
}
.contactus__block .contact__button {
  display: flex;
  padding: 15px 120px;
  color: #fff;
  background: #000;
  margin-top: 50px;
  transition: background 0.2s linear, color 0.2s linear, border-radius 0.2s linear;
  cursor: pointer;
}
.contactus__block .contact__button:hover {
  background: #ccc;
  color: #000;
  border-radius: 20px;
}
@media (max-width: 690px) {
  .contactus__block .contactus__title {
    font-size: 25px;
    width: 250px;
  }
  .contactus__block .contactus__text {
    padding: 50px;
  }
  .contactus__block .contact__button {
    padding: 15px 70px;
  }
  .contactus__block .activeBorderThen {
    border-radius: 0;
    border-color: #0016c5;
  }
}

.under {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.under .under__img {
  margin-right: 20px;
}

.form {
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 50px;
  border: 1px solid #ccc;
  display: none;
  z-index: 2000;
}
.form .clouse {
  display: flex;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.form .title {
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 60px 0px;
}
.form .form__name {
  display: flex;
  margin-bottom: 30px;
}
.form .form__name .block__name {
  display: flex;
  flex-direction: column;
}
.form .form__name .block__name .nameInput {
  padding: 11px;
  font-size: 17px;
  border: 1px solid #7d7d7d;
  background: none;
  margin-right: 10px;
  outline: none;
  transition: 0.3s;
}
.form .form__name .block__name .nameInput:focus {
  border: 1px #005bff solid;
}
.form .form__name .block__name .newMargin {
  margin-right: 0;
}
.form .form__name .block__name .redLine {
  border: 1px solid red;
}
@media (max-width: 690px) {
  .form .form__name .block__name .nameInput {
    margin: 0px 0px 30px 0px;
  }
}
@media (max-width: 690px) {
  .form .form__name {
    margin: 0;
  }
}
.form .data {
  display: flex;
  flex-direction: column;
}
.form .data .nameInput {
  padding: 11px;
  font-size: 17px;
  border: 1px solid #7d7d7d;
  background: none;
  margin-bottom: 30px;
  outline: none;
  transition: 0.3s;
}
.form .data .nameInput:focus {
  border: 1px #005bff solid;
}
.form .data .redLine {
  border: 1px solid red;
}
.form .title__input {
  font-size: 13px;
  font-weight: 600;
  margin: 0px 0px 5px 0px;
  text-transform: uppercase;
}
.form .button {
  width: 100%;
  height: 50px;
  background: #005bff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 40px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.form .button:hover {
  border-radius: 30px;
}

.plane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7294117647);
  position: fixed;
  z-index: 1000;
  display: none;
}

.planeAfterSend {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8392156863);
  z-index: 3000;
  opacity: 0;
  overflow: hidden;
}

.sentImg {
  display: block;
  width: 100px;
  height: auto;
  margin: auto;
  margin-top: 300px;
  transition: 2.5s;
}

.sentAfter {
  left: 50%;
}

.loading {
  transform: rotate(735deg);
}

.active {
  display: block;
}

.after {
  opacity: 1;
}

.none {
  display: none;
}

.block {
  position: absolute;
  display: block;
  z-index: 1000;
}

.top {
  z-index: 5000;
}

@media (max-width: 690px) {
  .form {
    width: 100%;
  }
  .form__name {
    flex-direction: column;
  }
  .nameInput {
    margin-right: 0;
  }
}/*# sourceMappingURL=style.css.map */